<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/public/css/stylelibros.css">
    <%-include('../partials/head') %>
    <title>Fundacion - Isaac Asimov</title>
</head>
<body>
    <header>
        <%-include('../partials/header') %>
        <img class="tapa" src="/src/public/img/asimov.jpg" alt="asimov">
        <div class="libro">
            <h2>Fundación - Isaac Asimov</h2>
            <%-include('../partials/desc') %>
        </div>
    </header>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>