<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/public/css/style.css">
    <%-include('../partials/head') %>
    <title>Librería Sempere</title>
</head>
<body>
    <header>
        <%-include('../partials/header') %>
    </header>
    <main>
        <h2>Más Vendidos</h2>
        <section class="catalogo">
            <div class="cuadro">
                <a href="../pages/asimov.ejs"><img src="/src/public/img/asimov.jpg" alt="asimov"></a>
                <h3>$100</h3>
                <p class="autor">Fundación - I. Asimov</p>
                <a href="../pages/asimov.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/borges.ejs"><img src="/src/public/img/borges.jpg" alt="borges"></a>
                <h3>$100</h3>
                <p class="autor">El Aleph - J. L. Borges</p>
                <a href="../pages/borges.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/dune.ejs"><img src="/src/public/img/dune.jpg" alt="dune"></a>
                <h3>$100</h3>
                <p class="autor">Dune - F. Herbert</p>
                <a href="../pages/dune.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/jordan.ejs"><img src="/src/public/img/jordan.jpg" alt="jordan"></a>
                <h3>$100</h3>
                <p class="autor">La Rueda del Tiempo - R. Jordan</p>
                <a href="../pages/jordan.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/king.ejs"><img src="/src/public/img/king.jpg" alt="king"></a>
                <h3>$100</h3>
                <p class="autor">It (Eso) - S. King</p>
                <a href="../pages/king.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/lovecraft.ejs"><img src="/src/public/img/lovecraft.jpg" alt="lovecraft"></a>
                <h3>$100</h3>
                <p class="autor">Cuentos de Horror - H. P. Lovecraft</p>
                <a href="/paginas/lovecraft.html"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/poe.ejs"><img src="/src/public/img/poe.jpg" alt="poe"></a>
                <h3>$100</h3>
                <p class="autor">El Cuervo - E. A. Poe</p>
                <a href="../pages/poe.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
               <a href="../pages/sherlock.ejs"><img src="/src/public/img/sherlock.jpg" alt="sherlock"></a>
                <h3>$100</h3>
                <p class="autor">Aventuras de Sherlock - A. C. Doyle</p>
                <a href="../pages/sherlock.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/tolkien.ejs"><img src="/src/public/img/tolkien.jpg" alt="tolkien"></a>
                <h3>$100</h3>
                <p class="autor">El Señor de los Anillos I - J. R. R. Tolkien</p>
                <a href="../pages/tolkien.ejs"><button class="comprar">Comprar</button></a>
            </div>
            <div class="cuadro">
                <a href="../pages/zafon.ejs"><img src="/src/public/img/zafon.jpg" alt="zafon"></a>
                <h3>$100</h3>
                <p class="autor">La Sombra del Viento - C. R. Zafón</p>
                <a href="../pages/zafon.ejs"><button class="comprar">Comprar</button></a>
            </div>

        </section>  
    </main>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>