<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/public/css/stylelibros.css">
    <%-include('../partials/head') %>
    <title>RdT - R. Jordan</title>
</head>
<body>
    <header>
        <%-include('../partials/header') %>
        <img class="tapa" src="/src/public/img/jordan.jpg" alt="jordan">
        <div class="libro">
            <h2>La Rueda del Tiempo - R. Jordan</h2>
            <%-include('../partials/desc') %>
        </div>
    </header>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>