<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/public/css/stylelibros.css">
    <%-include('../partials/head') %>
    <title>Sombra del Viento - C. R. Zafón</title>
</head>
<body>
    <header>
        <%-include('../partials/header') %>
        <img class="tapa" src="/src/public/img/zafon.jpg" alt="zafon">
        <div class="libro">
            <h2>Sombra del Viento - C. R. Zafón</h2>
            <%-include('../partials/desc') %>
        </div>
    </header>
    <footer>
        <%-include('../partials/footer') %>
    </footer>
</body>
</html>