<h3>$100</h3>
<p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos non iusto odit vero quidem suscipit tenetur distinctio nam alias eaque ducimus culpa nesciunt.</p>
<label for="libro">Cantidad:</label>
<input class="cantidad" type="number" id="fundacion" name="asimov" min="1" max="100">
<button class="comprar">Comprar ahora</button>
<button class="comprar">Agregar al carro</button>