<h1>Libros y Amigos</h1>
        <p class="frase">"Un libro abierto es un cerebro que habla; cerrado, un amigo que espera; olvidado, un alma que perdona; destruído, un corazón que llora"</p>
        <div class="ss">
            <div class="search">
                <input class="buscador" type="search" placeholder="Título o autor">
                <button class="buscar">Buscar</button>
            </div>
            <div class="sesion">
                <a class="iniciar" href="#">Iniciar Sesión</a>
                <a class="registro" href="#">Registrarse</a>
            </div>
        </div>    
        <nav>
            <a class="index" href="../pages/index.ejs">Inicio</a>
            <a class="contacto" href="#">Contacto</a>
        </nav>